@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
  overflow: auto;
  position: relative;
}

.custom-scrollbar .content {
  /* Set the width to be wider than the container to enable horizontal scrolling */
  width: calc(100% + 20px);
  padding: 10px;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f9;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
